.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #003366;
    height: 60px;
    z-index: 1000;
}
.nav-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
    margin: 0;
    height: 100%;
    list-style: none;
}
.nav-menu li {
    padding: 0 20px;
}
.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}